 body{
 margin: 0;
     padding: 0;
     overflow-x: hidden;


} 

header{
    background-size: 100% 100%;
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;
         background-image: url(../img/dcee3fe54af5170c774dcef158c3cafb.png);
    background-repeat: no-repeat;
    height: 789px;
}
main , h2{
	font-size:calc(22px + 0.822vw);
text-align: center;
margin: 32px 22px;
    padding: 22px 42px;
    
font-weight: 800;
      text-transform:uppercase;
     font-family: 'Montserrat';
}
main p{
    letter-spacing: 2.4px;
	line-height:calc(26px + 0.1vw);
	
    font-weight: 400;
     text-transform:lowercase;
     font-family: 'Montserrat'; 
	font-size:95%;
font-size:calc(12px + 0.3vw);
}
 ul{
    margin: auto;
   display: flex;
       flex-direction: row;
    justify-content: center;
   
}
.nav{
    background-color: white;
        height:78px;
}
ul,li a{
    color: rgba(255, 0, 0, 1);
    text-transform: uppercase;
     font-family: 'Montserrat' ;
font-weight: 1000;
	
   font-size:calc(18px + 0.4vw);
line-height: 18px;
    padding: 31px 48px;
     text-decoration: none; 
       list-style-type: none;
   
}
a:hover {
  text-decoration: underline;
}

footer{
        text-transform: lowercase;
    font-size: 16px;
         font-family: 'Montserrat' ;
font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 28px 62px
}
.button {
    text-transform: uppercase;
         font-family: 'Montserrat';
font-weight: 700;
  background-color:  #FF0000;
  border: none;
  color: white;
    margin: 22px 22px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:calc(12px + 0.64vw);
  margin: 80px 2px;
  cursor: pointer;
    width: 191px;
	min-width:28%;
	height: 100px;
	width: 20%;
	min-height: 20%;
}